
* {
	/* outline: 3px solid black;  */
}

body{
	/* width: 600px; */
	background-color: white;
	text-align: center;
	margin: auto;
	font-family: 'Open Sans', arial, sans-serif;
	/* font-size: 13px; */
	-webkit-font-smoothing: antialiased;
}

.menu{
	display: inline-block;
	font-weight:bold;
	font-size:13px;
	padding: 0px 5px;
}	

a{
	color:#acacac;
}

li a{
	text-decoration: none;
	font-family: 'Open Sans', arial, sans-serif;
}

.content{
	background-color: #8fd2d2;
	color: white;
	padding-bottom:90px;
}

h1{
	text-transform: uppercase;
	font-size:78px;
	margin: 0;
	padding: 80px 0px 20px 0px;
}

h2{
	margin: 0;
	padding: 1px 0px 0px 0px;
	font-size: 20px;
}

.button-link{
	display:inline-block;
	text-transform: uppercase;
	text-decoration: none;
	font-weight:bold;
	background-color: #fd6955;
	color: white;
	font-size: 18px;
	padding: 10px;
	margin: 25px 0px;
	border-radius:5px;
	
}

.notice{
	font-size: 11px;
	margin: 2px 2px;
}